@page
@model IndexModel
@{
    ViewData["Title"] = "Library";
}

<div class="text-center">
    <h1 class="display-4">Bine ai revenit!</h1><br />
    <br />
 
    <p>
        Vezi persoanele care și-au deschis un cont în librărie:
        <a asp-page="./Persons/Index">Persoanele</a>
    </p>

  
</div>
